* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: pink;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.box {
  background-color: #eb78a2;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}

.box:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.box2 {
  background-color: aquamarine;
  width: 300px;
}

.box3 {
  background-color: green;
  padding: 20px;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.box4 {
  background-color: #ffff00;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  background-color: #0026ff9b;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box5 {
  background-color: aliceblue;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}
